  body h1{
    text-align: center;
    font-size: 80px;
    color: aliceblue;
  }

  body{
    background-color: #dcab61;
  }
  h2{
    text-align: center;
  }
  .img{
    margin: auto;
    display: block;
  }
